header {
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #555555;
    color: white;
    display: flex;
    justify-content: center;
}

body{
    background-color: azure;
    margin: 20px;
}


.container{
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    margin-bottom: 30px;
}

.container img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 9px 5px rgba(0, 0, 0, 0.2);
}

.info {
    padding: 30px;
    flex-grow: 1;
}

.lakasok{
    width: 100%;
    border-collapse: collapse;
}

.lakasok th,
.lakasok td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

.lakasok th{
    background-color: darkgray;
}

.lakasok tr:hover{
    background-color: #d4e6f1;
    transition: 0.3s;
}

.osszefoglalas{
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0,0.2);
}

.kepek{
    display: flex;
    gap: 20px;
    margin: auto;
}

.kepek img:hover{
    transform: scale(2.2);
}

.back-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #0056b3;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.input-fields{
    display: flex;
}

.left-side .name, 
.left-side .email {
    display: flex;
    flex-direction: column;
}

.left-side,
.right-side,
.middle-side {
    padding: 20px;
    margin-left: 240px;
}

.message {
    display: flex;
    flex-direction: column;
}

.right-side img{
    height: auto;
    width: 40px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}